
header{
    background-color: rgba(255, 144, 14, 0.1);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav>ul{
    display: flex;
    text-decoration: none;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
    list-style: none;
}
.banner-section{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.banner-section img{
    width: 100%;
}
.banner-title{
    font-size: 40px;
    font-weight: 700;
}
.btn-primary{
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    background-color: rgb(255, 144, 14);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.feature-section{
    max-width: 60%;
    margin: 50px auto;
}
.feature-container{
    display: flex;
    gap: 20px;
    align-items: center;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.feature-img img{
    width: 200px;
}
.feature-content h3{
    font-size: 30px;
}

/* media query */
@media screen and (max-width: 776px) {
    nav{
        flex-direction: column  ;
    }
    nav>ul{
        font-size: 14px;
        padding-right: 20px;
    }
    .feature-container{
        flex-direction: column;
        gap: 5px;
    }
    .feature-img{
        grid-template-columns:repeat(1, 1fr);
    }
}